<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>采集目录</title>

  <link rel="stylesheet" href="https://cdn.staticfile.org/zui/1.9.1/css/zui.min.css">

  <style>
    #main {
      padding: 20px 0;
    }

    #pageInfo {
      /* width: 960px; */
      min-height: 900px;
    }

    .tree-menu li li a.page-link {
      display: inline-block;
      margin: 0;
      padding: 0 0 0 .5em;
      color: #6699ff;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div id="main" class="row">
      <nav id="app" class="menu col-md-2" data-ride="menu">
        <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
          <li v-for="dt in dateList" :key="dt.date">
            <a href="#">{{dt.date}}</a>
            <ul>
              <li v-for="st in dt.sites" :key="st.name">
                <span>{{st.name}} : </span>
                <br>
                <a class="page-link" v-for="p in st.pages" :key="p" :href="pageHref(dt.date,st.name,p)"
                  target="pageInfo">{{p}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <iframe id="pageInfo" name="pageInfo" class="col-md-10" frameborder="0"></iframe>
    </div>
  </div>
</body>

<script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/zui/1.9.1/js/zui.min.js"></script>
<script src="./getJSON.js"></script>
<!-- 
<script type="text/template" id="date_directory">
  <div>
    <h1>date directory</h1>
  </div>
</script> 
-->

<script type="text/javascript">
  // Vue.component('date-directory', { template: '#date_directory' });
  const APP = new Vue({
    el: '#app',
    data: {
      dateList: [],
    },
    async created() {
      this.dateList = await getJson('../directory.json');
    },
    methods: {
      pageHref(date, site, page) {
        return `./page.html?dt=${date}&st=${site}&p=${page}`
      }
    }
  }); 
</script>

</html>