<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>采集目录</title>
  <style>
    #main {
      display: flex;
      justify-content: flex-start;
    }

    #app {
      width: 400px;
    }

    #pageInfo {
      width: 960px;
      min-height: 900px;
    }

    .page-link {
      display: inline-block;
      margin: 0 .5em 0 0;
    }
  </style>
</head>

<body>
  <div id="main" class="row">
    <div id="app" class="">
      <!-- <date-directory></date-directory> -->
      <ul>
        <li v-for="dt in dateList" :key="dt.date">
          <ul>
            <p>{{dt.date}}</p>
            <li v-for="st in dt.sites" :key="st.name">
              <div>
                <span>{{st.name}} : </span>
                <span class="page-link" v-for="p in st.pages" :key="p">
                  <a :href="pageHref(dt.date,st.name,p)" target="pageInfo">{{p}}</a>
                </span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <iframe id="pageInfo" name="pageInfo"></iframe>
  </div>
</body>

<script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
<script src="./getJSON.js"></script>
<!-- 
<script type="text/template" id="date_directory">
  <div>
    <h1>date directory</h1>
  </div>
</script> 
-->

<script type="text/javascript">
  // Vue.component('date-directory', { template: '#date_directory' });
  const APP = new Vue({
    el: '#app',
    data: {
      dateList: [],
    },
    async created() {
      this.dateList = await getJson('../directory.json');
    },
    methods: {
      pageHref(date, site, page) {
        return `./page.html?dt=${date}&st=${site}&p=${page}`
      }
    }
  }); 
</script>

</html>