<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>采集结果</title>

  <link rel="stylesheet" href="https://cdn.staticfile.org/zui/1.9.1/css/zui.min.css">

  <style>
    #main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }

    #main>img {
      display: block;
      max-width: 480px;
      height: auto;
    }

    #items {
      margin: 10px;
    }

    #items>li {
      list-style: none;
    }

    a.title-link {
      font-size: 18px;
      line-height: 1.6;
    }
  </style>
</head>

<body>
  <div id="app">
    <template v-if="pageInfo">
      <div class="container-fluid">
        <div id="app" class="row">
          <div class="col-md-4">
            <img :src="imgPath" data-toggle="lightbox" :data-image="imgPath" data-caption="小图看大图">
          </div>
          <div class="col-md-8">
            <div class="list">
              <div class="items items-hover">
                <div class="item" v-for="it in pageInfo.items" :key="it.href">
                  <div class="item-heading">
                    <h4><a :href="it.href" target="_blank">{{it.title}}</a></h4>
                  </div>
                  <div class="item-content">
                    <div class="text"> {{it.innerText}} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      正在加载
    </template>
  </div>
</body>

<script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>

<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/zui/1.9.1/js/zui.min.js"></script>

<script src="./getJSON.js"></script>
<script type="text/javascript">
  const APP = new Vue({
    el: '#app',
    data: {
      pageInfo: null,
    },
    computed: {
      imgPath() {
        return '../' + (this.pageInfo ? this.pageInfo.img : '');
      }
    },
    async created() {
      const url = new URL(window.location);
      const params = new URLSearchParams(url.search);

      const date = params.get('dt');
      const site = params.get('st');
      const page = params.get('p');

      if (!date || !site || !page) {
        console.error('lost params.');
        return false;
      }

      this.pageInfo = await getJson(`../jsons/${date}/${site}/${page}.json`);

      console.log('Page Info : ', this.pageInfo);
      
      this.$nextTick(function () {
        $('[data-toggle="lightbox"]').lightbox();
      })
    },
  });
</script>

</html>